@import '../variables.scss';

header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px #333;
    padding: 0 $box_size;
    display: flex;
    align-items: center;
    z-index: 99;

    @media screen and (max-width: 767px) {
        flex-direction: column;
        a {
            font-size: 1.5rem;
        }
    }

    h1 {
        flex: 1;
        padding: 0;
        margin: 0
    }

    a {
        text-decoration: none;
        margin: 0 .5rem;
        font-family: 'Indie Flower', cursive;
    }
    
    a, a:hover, a:visited, a:active {
        color: $black;
    }
    
    a:hover {
        text-decoration: underline;
    }
} 


button, .button {
    border: $black;
    padding: 8px 12px;
    color: $black;
}

